.button {
  border: 1px solid var(--button-bg);
  padding: 8px 16px;
  background: var(--button-bg);
  color: white;
  font-size: 18px;
  border-radius: var(--button-radius);
  height: var(--button-height);
  box-shadow: rgba(138, 74, 213, 0.35) 0px 5px 15px;
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.normal {
  }
  &.important {
  }
  &.danger {
    background: #e10505;
    border-color: #e10505;
  }
}
