:root{
    --welcome-card-bg:white;
    --welcome-text:white;
    --welcome-bg-start:#6236c1;
    --welcome-bg-end:#8b4ad5;
    --welcome-nav-height:83px;
    --z-index-bottom-nav:10;
    --welcome-nav-gap:8px;
    --button-bg:#5C33BE;
    --button-radius:6px;
    --button-height:48px;
    --navbar-bg-start:var(--welcome-bg-start);
    --navbar-bg-end:var(--welcome-bg-end);
}