:root{
    --welcome-card-bg:white;
    --welcome-text:white;
    --welcome-bg-start:#6236c1;
    --welcome-bg-end:#8b4ad5;
    --welcome-nav-height:83px;
    --z-index-bottom-nav: 8; 
    --z-index-overlay: 16;
    --welcome-nav-gap:8px;
    --button-bg:#5C33BE;
    --button-radius:6px;
    --button-height:48px;
    --navbar-bg-start:var(--welcome-bg-start);
    --navbar-bg-end:var(--welcome-bg-end);
    --overlay-mask-bg: rgba(0, 0, 0, 0);
    --overlay-bg: white;
    --overlay-user-bg: #6739c4;
    --overlay-user-text: white;
    --top-safe-area-height: 0px;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --amount-text: #53A867;
    --date-text: #999999;
}